opencv-python
flask
numpy
pandas
absl-py==2.1.0
altair==5.4.1
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.4.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
astrapy==1.5.2
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==24.2.0
babel==2.16.0
beautifulsoup4==4.12.3
bleach==6.2.0
blinker==1.8.2
bottle==0.13.1
bottle-websocket==0.2.9
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
comtypes==1.4.7
contourpy==1.3.0
customtkinter==5.2.2
cycler==0.12.1
Cython==3.0.11
darkdetect==0.8.0
debugpy==1.8.5
decorator==4.4.2
defusedxml==0.7.1
deprecation==2.1.0
deta==1.2.0
distro==1.9.0
Django==5.1.2
dnspython==2.7.0
Eel==0.17.0
executing==2.1.0
faicons==0.2.2
fastjsonschema==2.20.0
ffmpeg==1.4
ffmpeg-python==0.2.0
filelock==3.16.1
Flask==3.0.3
Flask-Cors==5.0.0
flatbuffers==24.3.25
fonttools==4.53.1
fqdn==1.5.1
fsspec==2024.9.0
future==1.0.0
gast==0.6.0
gevent==24.10.1
gevent-websocket==0.10.1
gitdb==4.0.11
GitPython==3.1.43
gitverse==3.2
google==3.0.0
google-ai-generativelanguage==0.6.9
google-api-core==2.19.2
google-api-python-client==2.145.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.0
google-pasta==0.2.0
googleapis-common-protos==1.65.0
googlesearch-python==1.2.5
greenlet==3.1.1
groq==0.12.0
grpcio==1.66.1
grpcio-status==1.66.1
gTTS==2.5.3
h11==0.14.0
h2==4.1.0
h5py==3.12.1
hpack==4.0.0
htmltools==0.6.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.2
huepy==1.2.1
humanfriendly==10.0
hyperframe==6.0.1
idna==3.8
image==1.5.33
imageio==2.35.1
imageio-ffmpeg==0.5.1
imutils==0.5.4
iniconfig==2.0.0
instabot==0.117.0
ipykernel==6.29.5
ipython==8.18.0
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.2.0
jax==0.4.33
jaxlib==0.4.33
jedi==0.19.1
Jinja2==3.1.4
jiter==0.5.0
joblib==1.4.2
json5==0.9.28
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
keras==3.6.0
keyboard==0.13.5
kiwisolver==1.4.7
lazy_loader==0.4
libclang==18.1.1
linkify-it-py==2.0.3
llvmlite==0.43.0
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
mediapipe==0.10.14
mistune==3.0.2
ml-dtypes==0.4.1
mock==5.1.0
MouseInfo==0.1.3
moviepy==1.0.3
mpmath==1.3.0
namex==0.0.8
narwhals==1.13.5
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
nltk==3.9.1
notebook==7.2.2
notebook_shim==0.2.4
numba==0.60.0
numpy==1.26.4
onnxruntime==1.19.2
openai==1.44.1
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opt-einsum==3.3.0
optree==0.13.0
orjson==3.10.11
overrides==7.7.0
packaging==24.1
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pascal-voc-writer==0.1.4
pefile==2024.8.26
pillow==10.4.0
platformdirs==4.2.2
playsound==1.2.2
plotly==5.24.1
pluggy==1.5.0
pocketsphinx==5.0.3
pooch==1.8.2
proglog==0.1.10
prometheus_client==0.21.0
prompt-toolkit==3.0.36
proto-plus==1.24.0
protobuf==4.25.5
psutil==6.0.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAudio==0.2.14
PyAutoGUI==0.9.54
pycaw==20240210
pycparser==2.22
pydantic==2.9.1
pydantic_core==2.23.3
pydeck==0.9.1
pygame==2.6.0
PyGetWindow==0.0.9
Pygments==2.18.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pyjokes==0.8.3
PyMatting==1.1.12
pymongo==4.10.1
PyMsgBox==1.0.9
pynput==1.7.7
pyparsing==3.1.4
pyperclip==1.9.0
pypiwin32==223
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
pyreadline3==3.5.4
PyRect==0.2.0
PyScreeze==1.0.1
PySocks==1.7.1
pytest==8.3.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.17
python-vlc==3.0.21203
pyttsx3==2.91
pytweening==1.2.0
pytz==2024.2
pywin32==306
pywin32-ctypes==0.2.3
pywinpty==2.0.14
PyYAML==6.0.2
pyzmq==26.2.0
questionary==2.0.1
referencing==0.35.1
regex==2024.9.11
rembg==2.0.59
requests==2.32.3
requests-file==2.1.0
requests-toolbelt==1.0.0
responses==0.25.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.2
rpds-py==0.20.0
rsa==4.9
schedule==1.2.2
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.14.1
screen_brightness_control==0.23.0
seaborn==0.13.2
Send2Trash==1.8.3
setuptools==75.4.0
shiny==1.2.1
shinymedia @ git+https://github.com/jcheng5/shinymedia@e442d807585b3df55d1bae25c7d90caa20e4c8cf
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sounddevice==0.5.0
soupsieve==2.6
SpeechRecognition==3.10.4
sqlparse==0.5.1
srt==3.5.3
stack-data==0.6.3
starlette==0.41.2
streamlit==1.39.0
sympy==1.13.1
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
termcolor==2.5.0
terminado==0.18.1
threadpoolctl==3.5.0
tifffile==2024.9.20
tinycss2==1.4.0
tkintervideo==0.0.2
tkinterweb==3.24.7
tldextract==5.1.2
toml==0.10.2
torch==2.5.1+cu118
torchaudio==2.5.1+cu118
torchvision==0.20.1+cu118
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
ttkthemes==3.2.2
types-python-dateutil==2.9.0.20241003
typing_extensions==4.12.2
tzdata==2024.2
uc-micro-py==1.0.3
ultralytics==8.3.20
ultralytics-thop==2.0.9
uri-template==1.3.0
uritemplate==4.1.1
urllib3==2.2.2
utils==1.0.2
uuid6==2024.7.10
uvicorn==0.32.0
vosk==0.3.45
watchdog==5.0.3
watchfiles==0.24.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==14.1
Werkzeug==3.0.4
wheel==0.44.0
whichcraft==0.6.1
widgetsnbextension==4.0.13
wikipedia==1.4.0
WMI==1.5.1
wrapt==1.16.0
xgboost==2.1.1
youtube-search==2.1.2
zope.event==5.0
zope.interface==7.1.0
jupyter
ffmpeg-python
python-dotenv
shiny
git+https://github.com/jcheng5/shinymedia
pandas
matplotlib
groq
gTTS
pyttsx3
