jupyter
ffmpeg-python
python-dotenv
shiny
git+https://github.com/jcheng5/shinymedia
pandas
matplotlib
groq
gTTS
pyttsx3
opencv-python
flask
flask-socketio
eventlet
requests
flask
flask-cors
flask-socketio
eventlet
requests
flask
flask-cors
werkzeug
opencv-python
numpy
astrapy

